@import '../../lib.scss';

.dappland-review  {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 4rem;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 0.5rem;
  max-width: 260px;
  margin: 0 auto;
  &--dark {
    background-color: $black;
    border-color: $white;
    color: $white;
  }
  &__logo {
    display: block;
    &--desktop {
      margin-top: 0.5rem;
      margin-bottom: initial;
    }
  }
  &__stars {
    margin-top: 0.5rem;
  }
  &__rating-container {
    margin-top: 0.25rem;
  }
  &__rating {
    font-weight: $bold;
  }
  &__total-rating {
    color: $grey;
    font-weight: $bold;
  }
}


